*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(170, 169, 169);
    justify-content: center;
    margin-top: 100px;
}
.Dog_card{
    background-color: white;
   width: 20%;
    height: 200px;
    padding: 10px;
    border: black solid 1px;
}
.Dog_card img{
    width: 100%;
    height: 80%;
    border: solid black 1px;
   
}

